body {
    background: #0b0b0b;
    color: #00ff88;
    font-family: Arial;
    padding: 20px;
}

input, select, button {
    padding: 10px;
    margin: 5px;
    width: 250px;
}

button {
    cursor: pointer;
}

pre {
    background: #000;
    padding: 10px;
    height: 220px;
    overflow-y: auto;
}
